<div class="window">
  <div class="window-content">
			<ul class="list-group">
				<li class="list-group-item logo">
					<img src="ckdu.png"/>
				</li>
				{{#each model as |stream index|}}
				  {{stream-item index=index adjustedSelectedIndex=adjustedSelectedIndex stream=stream player=player toggle=(action 'toggle')}}
				{{/each}}
				{{#if player.playing}}
					<li class="list-group-item stop">
			  	  <button {{action 'pause'}} class="btn btn-primary pull-right btn-large">Stop</button>
					</li>
			  {{/if}}
			</ul>
  </div>
</div>

